<div layout="column" flex ng-controller="CoreHeadController">
    <style>
        .sideNavTiles md-grid-list{height:100%;}
        .sideNavTiles md-icon {
            width: 90%;
            height: 90%; }
        .sideNavTiles md-icon svg {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%; }
        .sideNavTiles .s64 {
            font-size: 64px; }
        .sideNavTiles .s32 {
            font-size: 48px; }
        .sideNavTiles md-icon.fa {
            display: block;
            padding-left: 0px; }
        .sideNavTiles md-icon.s32 span {
            padding-left: 8px; }
        .sideNavTiles .gray {
            background: #f5f5f5; }
        .sideNavTiles .green {
            background: #b9f6ca; }
        .sideNavTiles .yellow {
            background: #ffff8d; }
        .sideNavTiles .blue {
            background: #84ffff; }
        .sideNavTiles .darkBlue {
            background: #80d8ff; }
        .sideNavTiles .deepBlue {
            background: #448aff; }
        .sideNavTiles .purple {
            background: #b388ff; }
        .sideNavTiles .lightPurple {
            background: #8c9eff; }
        .sideNavTiles .red {
            background: #ff8a80; }
        .sideNavTiles .pink {
            background: #ff80ab; }
        .sideNavTiles md-grid-tile {
            transition: all 300ms ease-out 50ms; }
        .sideNavTiles md-grid-tile md-icon {
            padding-bottom: 32px; }
        .sideNavTiles md-grid-tile md-grid-tile-footer {
            background: rgba(0, 0, 0, 0.68);
            height: 36px; }
        .sideNavTiles md-grid-tile-footer figcaption {
            width: 100%; }
        .sideNavTiles md-grid-tile-footer figcaption h3 {
            margin: 0px;
            font-weight: 700;
            width: 100%;
            text-align: center; }
    </style>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-icon md-svg-src="modules/openboard/img/account.svg"
                     class="svg-logotype ng-isolate-scope md-default-theme"
                     style="
                        height: 30px;
  width: 40px;
                        margin-right:3px;"
                     aria-hidden="true">
            </md-icon>
            <h4 >Your Account</h4>
        </div>
    </md-toolbar>
    <md-content class="sideNavTiles" style="overflow-x: hidden">
        <md-grid-list
                md-cols-sm="2" md-cols-md="2" md-cols-gt-md="2"
                md-row-height-gt-md="1:1" md-row-height="4:3"
                 >
            <md-grid-tile
                    ng-if="authentication.user"
                          id="profile"
                          md-rowspan="2"
                          md-colspan="2"
                          class="green"
                          ng-click="sliderNavEvent('Profile', 'profile')">
                <md-icon md-svg-src="modules/d2l/img/flat-svg/settings.svg"></md-icon>
                <md-grid-tile-footer><h3>Profile</h3></md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile
                    ng-if="!authentication.user"
                    id="signIn"
                    md-rowspan="1"
                    md-colspan="2"
                    class="green"
                    ng-click="sliderNavEvent('Sign In', 'signIn')">
                <md-icon md-svg-icon="avatar:svg-2"></md-icon>
                <md-grid-tile-footer><h3>Sign In</h3></md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile
                    ng-if="authentication.user"
                    id="signOut"
                    md-rowspan="1"
                    md-colspan="2"
                    class="darkBlue"
                    ng-click="sliderNavEvent('Sign Out', 'signOut')">
                <md-icon md-svg-icon="avatar:svg-3"></md-icon>
                <md-grid-tile-footer><h3>Sign Out</h3></md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile
                    id="tutorial"
                    md-rowspan="1"
                    md-colspan="2"
                    class="blue"
                    ng-click="sliderNavEvent('Tutorial', 'tutorial')">
                <md-icon md-svg-src="modules/d2l/img/flat-svg/graduation_cap.svg"></md-icon>
                <md-grid-tile-footer><h3>Tutorial</h3></md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile
                    ng-disabled="true"
                    ng-if="authentication.user"
                    id="urClass"
                    md-rowspan="1"
                    md-colspan="1"
                    class="yellow"
                    ng-click="sliderNavEvent('Your Classes', 'urClass')">
                <md-icon md-svg-src="modules/d2l/img/flat-svg/reading.svg"></md-icon>
                <md-grid-tile-footer><h3>Your History</h3></md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile
                    ng-if="authentication.user"
                    id="allClass"
                    md-rowspan="1"
                    md-colspan="1"
                    class="red"
                    ng-click="sliderNavEvent('All Classes', 'allClass')">
                <md-icon md-svg-src="modules/d2l/img/flat-svg/podium_with_speaker.svg"></md-icon>
                <md-grid-tile-footer><h3>All Classes</h3></md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile
                    ng-if="authentication.user.roles[0]==='admin'"
                    id="adminPage"
                    md-rowspan="1"
                    md-colspan="1"
                    class="red"
                    ng-click="goTo('admin-page')">
                <md-icon md-svg-src="modules/d2l/img/flat-svg/podium_with_speaker.svg"></md-icon>
                <md-grid-tile-footer><h3>Admin</h3></md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
    <div style="  position: inherit;
  margin-top: 20px;
  margin-left: 5px;">Icons are licenced by Web App(http://icons8.com)</div>
</div>