.ob-underbar-base{
    border-left: 4px solid #3F51B5;
}

.ob-underbar-yellow{
    border-left: 4px solid #F6CB51;
}

.ob-underbar-red{
    border-left: 4px solid #E25942;
}

.ob-underbar-green{
    width: 100%;
    border-left: 4px solid #13A89E;
}

.ob-underbar-dark{
    border-left: 4px solid #3F4953;
}


.openboard-background{
    background-color: whitesmoke;
}

.openboard-card-color{
    margin:10px;
    padding:10px;
    background-color: #ffffff;
}

.openboard-sidenav {
    width: 254px !important;
    min-width: 254px !important;
    max-width: 254px !important;
}

.svg-logotype{
    height:42px;
    font-size:42px;
    margin:0px;
}

.docs-logotype{
    line-height: 42px;
    text-indent: 15px;
}

.docs-title{
    line-height: 42px;
    text-indent: 0px;
}

.docs-title-card{
    /*font-weight: 700;*/
    line-height: 42px;
    text-indent: 0px;
    margin-left:auto;
    margin-right:auto;
}


.docs-title-card-not-Center{
    font-weight: 700;
    line-height: 42px;
    text-indent: 0px;
}

.docs-menu-icon{
    background: none;
    border: none;
    padding: 0;
}

.docs-menu
{
    font-size: 1.2rem;
}


.md-sidenav-backdrop {
    height: 100%;
}

.card-border-left{

    border-left: thick #4096ff;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.progress-report{
    z-index:1000000; position: relative; width:100%;
}


.iconsList md-icon {
    margin: 20px;
    margin-top: 0;
    width: 24px;
    height: 24px; }

.iconsList .icons45 {
    width: 45px;
    height: 45px;
     }

.iconsList .icons75 {
    width: 75px;
    height: 75px;
    color: #0f0; }
.iconsList .icons146 {
    width: 146px;
    height: 146px;
    color: #0f0; }


