<section data-ng-controller="AdminPageController as vm">
	<div style="position:fixed;" id="responsive-admin-menu">
		<div id="responsive-menu">
			<div class="menuicon">≡</div>
		</div>
		<!--<div id="logo"></div>-->
		<div id="menu">
			<div ng-repeat="menu in vm.menus">
				<a href="" title="{{menu.title}}" class="submenu" name="media-sub"><i class="icon-eye-open"></i>
					<span>{{menu.title}}</span></a>
				<!-- Media Sub Menu -->
				<div id="media-sub" >
					<a ng-repeat="submenu in menu.submenu" href="" title="{{submenu.title}}"><i class="icon-film"></i><span>
						{{submenu.title}}</span></a>
				</div>
			</div>
		</div>
	</div>

	<div class="md-body-1" id="content-wrapper">
		<admin-content></admin-content>

			<h3 class="md-title">Angular 고수 치트키</h3>
			<p> App 만들기 </p>
		<div hljs language="javascript" source="'{{vm.source}}'"></div>

	</div>




	<a class="jsbin-embed" href="http://jsbin.com/biyozi/1/embed?html,console">ABCD</a><script src="http://static.jsbin.com/js/embed.js"></script>

	<a class="jsbin-embed" href="http://jsbin.com/bifiya/4/embed?html,js,output">JS Bin</a>
	<script src="http://static.jsbin.com/js/embed.js"></script>


	<a class="jsbin-embed foo" href="http://jsbin.com/iwovaj/74/embed?js,output">
		Simple Animation Tests</a>
	<script src="http://static.jsbin.com/js/embed.js"></script>

	<a class="jsbin-embed" href="http://jsbin.com/bifiya/4/embed?html,js,output">JS Bin</a><script src="http://static.jsbin.com/js/embed.js"></script>
</section>