<section data-ng-controller="AdminPageController as vm">

	<h3 class="md-title">Admin</h3>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="one">
			<md-content class="md-padding">
				<h1 class="md-title">Tab One</h1>
				<class-note-create></class-note-create>
			</md-content>
		</md-tab>
		<md-tab label="two">
			<md-content class="md-padding">
				<h1 class="md-title">Tab One</h1>
				<class-note-list></class-note-list>
			</md-content>
		</md-tab>
		<md-tab label="three">
			<md-content class="md-padding">
				<h1 class="md-title">Tab One</h1>
				<p class="md-body-1">Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
			</md-content>
		</md-tab>
	</md-tabs>
	<h3 class="md-title">Examples</h3>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="one">
			<md-content class="md-padding">
				<h1 class="md-title">Tab One</h1>
				<class-ex-create></class-ex-create>
			</md-content>
		</md-tab>
		<md-tab label="two">
			<md-content class="md-padding">
				<h1 class="md-title">Tab One</h1>
				<class-ex-list></class-ex-list>
			</md-content>
		</md-tab>
		<md-tab label="three">
			<md-content class="md-padding">
				<h1 class="md-title">Tab One</h1>
				<p class="md-body-1">Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
			</md-content>
		</md-tab>
	</md-tabs>

</section>