<section class="headerEnabled" data-ng-controller="Ads2Controller">


    <!-- -->
    <!--<sb-top-menu></sb-top-menu>-->
    <!--<sb-top-logo></sb-top-logo>-->
    <!--<sb-menu></sb-menu>-->
    <!--<sb-best-sell></sb-best-sell>-->
    <!--<sb-new-arravials></sb-new-arravials>-->
    <!--<sb-blog></sb-blog>-->
    <!--<sb-rss></sb-rss>-->
    <!--<sb-footer></sb-footer>-->
    <md-toolbar>
        <h2 class="md-toolbar-tools">
            <span>Problems of D2l</span>
        </h2>
    </md-toolbar>
    <md-content>

        <h3>Ads1 Open Board</h3>
        <openboard-ads1 hide-sm></openboard-ads1>

        <h3>Overall Question</h3>
        <p>What effect does the Learning Management System ha ve on student and faculty behavior, engagement and satisfaction?</p>

        <h3>Blackboard Positives</h3>
        <ul>
            <li>All materials one location and easy to access</li>
            <li>Discussion is easy to use</li>
            <li>Discussion report of # of new posts</li>
            <li>Announcements</li>
            <li>Email</li>
            <li>Familiarity of system</li>
            <li>Multiple views of discussion</li>
            <li>Gradebook</li>
            <li>Early warning system</li>
            <li>Reports on student activity</li>
        </ul>

        <h3>Blackboard Negatives</h3>
        <ul>
            <li>Grade Center - hard to navigate and use</li>
            <li>Lack of grouping/organization of different tools</li>
            <li>Difficulty using asynchronous podcasts</li>
            <li>Announcements</li>
            <li>Inability to have 2 elements open at same time</li>
            <li>Multiple steps needed to link to external URLs</li>
            <li>Limited bandwidth and large files take a long time and limit PowerPoints</li>
            <li>Slow downloads and uploads</li>
            <li>Chat is hard to use</li>
            <li>No notification of others currently online</li>
            <li>Grade Center: hard to use, students don't see feedback</li>
        </ul>

        <h3>D2L Positives</h3>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <h3>D2L Negatives</h3>
        <ul>
            <li>Lack of familiarity with tools</li>
            <li>Search tool is case sensitive, easy to misuse</li>
            <li>There is a limit on the size of emails</li>
            <li>Email puts users into "to field", vs. "bcc"</li>
            <li>Difficulty setting up groups</li>
            <li>System crashed occasionally with insecure content</li>
            <li>No automatic date and time on announcements unless instructor clicks to add it</li>
            <li>Hiding files didn't always work</li>
            <li>Sorting items b submission date didn't always work</li>
        </ul>

        <h5>Reference </h5>
        <a href="http://btstwm.blogspot.com/2013/02/desire2learn-canvas-blackboard-oh-my.html">Desire2Learn, Canvas, & Blackboard - Oh My</a>


    </md-content>

</section>
