.ads1-container{

    max-width: 620px;
    margin-right:auto;
    margin-left:auto;
}
.s36 {
    width: 136px;
    height: 136px;
    color: #0f0; }


#demoWrapper {
    margin-right:auto;
    margin-left:auto;
    width: 600px;
    height: 350px;
    -webkit-font-smoothing: antialiased;
    color: black;
    overflow: hidden;
    background-color: #e7ac62;
}

#bg {
    position: absolute;
    background-image: url(http://www.greensock.com/_img/codepen/black_textured_background.png);
    width: 600px;
    height: 350px;
}

.titleH1Ads1, .titleH2Ads1, #description{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #fff;
}

.titleH1Ads1{

    position: relative;
    margin-top: 10px;
    font-size: 36px;
    font-weight: normal;
}
.titleH2Ads1{
    position: relative;
    font-size: 22px;
    font-weight: normal;
    color: #cfcfcf;
}

#content {
    padding-left: 15px;
    visibility: hidden;
}
#info {
    margin-top: 20px;
}
#feature {
    position: relative;
    float: left;
}
#description {
    position: relative;
    float: left;
    margin-left: 20px;
    width: 290px;
    font-size: 16px;
    line-height: 24px;
}

.ad1-nav {
    margin-top: 20px;
}
.ad1-nav img {

    margin-right: 20px;
}

.op-profile{
    max-width:200px;
}

.op-profile .op-profile-body{
    font-size:10px;
}

.op-profile md-card-content{
    padding: 5px;
    background-color: rgb(128, 228, 107);
    border-radius: 2px;
}
