<section class="headerEnabled" ng-controller="MeanHomeController" layout="column" layout-fill>
    <!--<style>-->
        <!--.md-dialog-container {-->
            <!--z-index:1000;-->
        <!--}-->
    <!--</style>-->
    <!--<div ng-hide="false" class="meanT-headToolBar">-->
        <!--<div class="meanT-brandName">-->
            <!--<a href="/#!/versioning" target="_blank">Version: 0.0.1</a>-->
            <!--<span style="margin-left:20px;">{{notice}}</span>-->
        <!--</div>-->
    <!--</div>-->

    <md-content layout="column" layout-align="center center">

        <md-content class="meanT-homeFirstRow">
            <div class="meanT-headTitle">
                <strong>{{homeContents.mainTitle}}</strong>
            </div>

            <div class="meanT-headSubTitle md-body-1" hide-sm>
                <strong>{{homeContents.mainTitle}}</strong> {{homeContents.subTitleText}}<br/><br/>
                <div layout="row" layout-margin layout-align="center center">
                    <md-button class="md-raised md-primary" ng-click="goTo('openboard')" style="margin-bottom: 10px;">Get Started</md-button>
                    <div flex="5"></div>
                    <md-button class="md-raised md-primary" ng-click="goTo('open-board-present')" style="margin-bottom: 10px;">Presentation</md-button>
                </div>
                <!--<a href="https://docs.google.com/document/d/1Q_CJwJftcL-zabVm0USc1px5HDfbpxu6Klav-XYOzNg/edit?usp=sharing" target="_blank">-->
                    <!--<img title="Google Doc" class="meanT-googleDocImg" ng-src="modules/mean-tutorials/img/google_docs.png">-->
                <!--</a>-->
            </div>
        </md-content>

        <md-content class="md-padding meanT-homeSecondRow">
            <div class="meanT-headSubTitle md-body-1" show-sm hide-gt-sm>
                <strong>{{homeContents.mainTitle}}</strong> {{homeContents.subTitleText}}<br/><br/>
                <div layout="row" layout-margin layout-align="center center">
                    <md-button class="md-raised md-primary" ng-click="goTo('openboard')" style="margin-bottom: 10px;">Get Started</md-button>
                    <div flex="5"></div>
                    <md-button class="md-raised md-primary" ng-click="goTo('open-board-present')" style="margin-bottom: 10px;">Presentation</md-button>
                    <!--<md-button class="md-raised md-primary" ng-click="goTo('watch-game')" style="margin-bottom: 10px;">Watch Game</md-button>-->
                </div>
            </div>

            <class-board></class-board>

            <div style="text-align:center">
                <h3 class="md-title"><b>클래스 리스트</b></h3>
            </div>

            <div class="container" style="margin-bottom: 10px; max-width: 650px;">

                <md-grid-list
                        md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4"
                        md-row-height="5:7"
                        md-gutter="8px" md-gutter-gt-sm="4px">
                    <md-grid-tile ng-repeat="lesson in courses"
                                  rowspan="1"
                                  colspan="1"
                                  class="gray">
                        <img ng-mouseenter="mouseEnter($event)" ng-mouseleave="mouseLeave($event)" style="width: 80%; height: 80%;" src="{{lesson.image}}">
                        <!--<md-icon style="width: 50%; height: 100%;" md-svg-src="modules/d2l-classes/img/svg/ninja.svg"></md-icon>-->
                        <md-grid-tile-footer class="class-footer">
                            <h3 class="class-footer-text">{{lesson.name}}</h3>
                        </md-grid-tile-footer>
                    </md-grid-tile>
                </md-grid-list>
            </div>

            <!--<md-whiteframe-->
                    <!--class="md-whiteframe-z2 meanT-home-card ob-underbar-yellow"-->
                    <!--layout="column">-->
                <!--<h3 class="md-title"><b>클래스 리스트</b></h3>-->

                <!--&lt;!&ndash;<md-list-item ng-repeat="lesson in courses">&ndash;&gt;-->
                        <!--&lt;!&ndash;<p class="md-body-1"> {{ lesson.name }} </p>&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</md-list-item>&ndash;&gt;-->


                    <!--&lt;!&ndash;<md-card ng-repeat="lesson in courses" ng-click="goToClass(lesson._id)">&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<img src={{lesson.image}} alt="Washed Out">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-card-content>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div style="font-size:12px;">Course {{$index+1}}</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<p class="md-body-1">{{lesson.name}}</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;</md-card-content>&ndash;&gt;-->
                    <!--&lt;!&ndash;</md-card>&ndash;&gt;-->
            <!--</md-whiteframe>-->

            <!--<md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-base"-->
                           <!--layout="column" layout-align="space-around start">-->
                <!--<h3 class="md-title">ng-SKorea 소개</h3>-->
                <!--<div class="md-body-1">-->
                    <!--AngularJS를 쉽게 접할 수 있도록 도와 드리기 위해서 강의를 개설 하게 되었습니다. ng-SKorea에서는 새로 나오는 책들을 가장 빠르게 접할수 있도록 도와드리며 책의 내용을 토대로 좀더 내용을 구체화 하거나 알기 쉽게 적기 위해 노력 하겠습니다.-->
                    <!--기존의 책에서 제공되어지는 코드들은 전체 코드를 제공하는 책들도 많지만 부분적인 코드만 제공 함으로써 AngularJS가 익숙하지 않은 분들이 소스 코드를 만들어 가시는데 도움을 드리고자 책에 나온 소스코드 전부를 다시 적어서 따로 congifuration 세팅을 하지 않아도-->
                    <!--바로 실행 할 수 있도록 도와 드릴것입니다.-->
                <!--</div>-->

                <!--&lt;!&ndash;<div hljs source="'<html><head><body></body></head></html>'"></div>&ndash;&gt;-->
                <!--&lt;!&ndash;<iframe width="100%" height="300" src="//jsfiddle.net/dakra/U3pVM/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="jsbin-embed" href="http://jsbin.com/bifiya/4/embed?html,js,output">JS Bin</a>&ndash;&gt;-->
                <!--&lt;!&ndash;<script src="http://static.jsbin.com/js/embed.js"></script>&ndash;&gt;-->

                <!--&lt;!&ndash;<a class="jsbin-embed" href="http://jsbin.com/bifiya/4/embed?html,js,output">JS Bin</a><script src="http://static.jsbin.com/js/embed.js"></script>&ndash;&gt;-->
            <!--</md-whiteframe>-->

            <!--<openboard-ani1></openboard-ani1>-->

            <md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-green"
                           layout="column" layout-align="space-around start">
                <h3 class="docs-title-card-not-Center md-title">기초부터 고급까지</h3>
                <p class="md-body-1">
                    여러 개발자들이 개발중에 닥치게 되는 문제점들 그리고 대부분의 리소스가 영문으로 되어 있어 리소스를 빠르게 접하지 못하시는 분들이 주 타겟입니다.
                    초보자에게는 누구나 시작하실수 있도록 그리고 고급자에게는 책에 잘 나와있지 않은 피드백이나 팁들을 제공할 것입니다.
                </p>
            </md-whiteframe>



            <md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-green"
                           layout="column" layout-align="space-around start">
                <h3 class="docs-title-card-not-Center md-title">Canvas</h3>

                <div layout="row" layout-align="center center" layout-padding layout-margin>
                    <mean-ani></mean-ani>
                    <hr/>
                    <mean-ani2></mean-ani2>
                    <hr/>
                </div>
                <div layout="row" layout-align="center center" layout-padding layout-margin>
                    <mean-ani3></mean-ani3>
                    <hr/>
                    <mean-ani4></mean-ani4>
                    <hr/>
                </div>

            </md-whiteframe>


            <!--<md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-dark"-->
                           <!--layout="column" layout-align="space-around start">-->
                <!--<h3 class="docs-title-card-not-Center md-title">짧은 Video 강의에 많은 내용을..</h3>-->
                <!--<p class="md-body-1">지루한 강의는 가라 짧은 강의에 많은 여운을 남길수 있는 강의를 제공하는 것이 ng-sKorea의 목표 입니다</p>-->

                <!--<h3 class="docs-title-card-not-Center md-title"><b>Problem Solving에 대해서</b></h3>-->
                <!--<p class="md-body-1">어떤 문제가 닥치셔서 그 문제를 해결 하시려면 전체를 아셔야 문제가되는 곳을 빠르게 찾으시고 대처 방안을 찾으실수 있습니다.</p>-->
            <!--</md-whiteframe>-->

            <md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-yellow"
                           layout="column" layout-align="space-around start">
                <h3 class="docs-title-card-not-Center md-title">Upcoming Classes</h3>
                <p class="md-body-1"><b>Web Animation(JavaScript & HTML5)</b></p>
                <md-chips>
                    <md-chip>Timeline</md-chip>
                    <md-chip>SVG animation</md-chip>
                    <md-chip>HTML Element transform</md-chip>
                </md-chips>

                <p class="md-body-1"><b>Data Visualization</b></p>
                <md-chips>
                    <md-chip>D3.js</md-chip>
                    <md-chip>SVG</md-chip>
                    <md-chip>Canvas</md-chip>
                </md-chips>

                <p class="md-body-1"><b>Backend MongoDB & NodeJS</b></p>
                <md-chips>
                    <md-chip>NodeJS</md-chip>
                    <md-chip>MongoDB</md-chip>
                    <md-chip>Express4.0</md-chip>
                </md-chips>
            </md-whiteframe>

            <md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-dark"
                           layout="column" layout-align="space-around start">
                <h3 class="docs-title-card-not-Center md-title">Upcoming Project</h3>
                <p class="md-body-1"><b>Watch Game e-Learning for kids</b></p>
                <md-chips>
                    <md-chip>Web Animation</md-chip>
                    <md-chip>Touch Control</md-chip>
                    <md-chip>Responsive Design</md-chip>
                </md-chips>
                <p class="md-body-1"><b>e-Commerce</b></p>
                <md-chips>
                    <md-chip>Payment Gateway Interaction</md-chip>
                    <md-chip>Admin & Customer Pages</md-chip>
                    <md-chip>High Performance Transition</md-chip>
                    <md-chip>Responsive Design</md-chip>
                </md-chips>
                <p class="md-body-1"><b>Scrapped Data Analysis </b></p>
                <md-chips>
                    <md-chip>NodeJS Crawler</md-chip>
                    <md-chip>Virtual browser</md-chip>
                    <md-chip>Handling Authentication</md-chip>
                    <md-chip>Visualization</md-chip>
                </md-chips>
                <p class="md-body-1"><b>Social Business Platform</b></p>
                <md-chips>
                    <md-chip>Social Network API</md-chip>
                    <md-chip>Order Management</md-chip>
                    <md-chip>Progress Notification</md-chip>
                    <md-chip>Geo Logical Analysis</md-chip>
                </md-chips>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-base"
                           layout="column" layout-align="center center">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="QNARP3238KL9U">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </md-whiteframe>
        </md-content>
    </md-content>
</section>
