<section data-ng-controller="VersioningController">
	This is the Versioning

    <h3>Version 0.0.2</h3>
    <h5>Project Page</h5>

    <h3>Version 0.0.3</h3>
    <h5>Comment module by using disqus</h5>
    <h5>Responsive sidemenu</h5>

    <h3>version 0.0.4</h3>
    <h5>blog module</h5>

    <h3>Version 0.0.5</h3>
    <p>UI Route Child view</p>
    <ul>
        <li><h5>Dashboard</h5></li>
        <li><h5>Articles</h5></li>
        <li><h5>Projects</h5></li>
    </ul>
    
    <h5>Calendar directive</h5>

    <h3>Version 0.0.6</h3>
    <p>Google Add On</p>
    <ul>
        <li><h5>Document copy onto google drive</h5></li>
        <li><h5>Submit Assignment via GDoc</h5></li>
        <li><h5>Grade Assignment via GDoc</h5></li>
    </ul>

</section>
