<section data-ng-controller="GsapEditorController">
    <section class="gsap-section" layout="row" layout-sm="column" layout-align="center center">
        <md-button ng-click="loadPerson(1)">Luke Skywalker</md-button>
        <md-button ng-click="loadPerson(2)" md-no-ink class="md-primary">C-3PO</md-button>
        <md-button ng-click="loadPerson(3)" class="md-primary">R2-D2</md-button>
        <div class="label">Flat</div>
    </section>

    <section class="gsap-section" layout="row" layout-sm="column" layout-align="center center">

        <div style="text-align:center">
            <h3 id="webAni" class="md-title"><b>Web Animation</b></h3>
        </div>

        <div layout="column" layout-align="center center">
            <ani-ace></ani-ace>
            <ani-home></ani-home>
        </div>
        <div class="label">Animation</div>
    </section>

    <section class="gsap-section" layout="row" layout-sm="column" layout-align="center center">

        <h1 class="md-title">큐브</h1>
        <div style="height:900px">
            <cube-dial></cube-dial>
        </div>
        <div class="label">GSAP</div>
    </section>

</section>