<section class="headerEnabled container" data-ng-controller="TheCleanCrudsController" data-ng-init="find()">
    <div class="page-header"><h3>주문 List</h3></div>
    <div class="list-group">
        <a data-ng-repeat="theCleanCrud in theCleanCruds" data-ng-href="#!/the-clean-cruds/{{theCleanCrud._id}}" class="list-group-item">
			<small class="list-group-item-text">
				<strong>주문날짜:</strong>
				<span data-ng-bind="theCleanCrud.created | date:'medium'"></span>
				<strong>주문자:</strong>
				<span data-ng-bind="theCleanCrud.user.displayName"></span>
                <strong>수량:</strong>
                <span data-ng-bind="theCleanCrud.numOrder"></span>
			</small>
			<!--<h4 class="list-group-item-heading" data-ng-bind="theCleanCrud.name"></h4>-->
        </a>
    </div>

    <!--<div class="alert alert-warning text-center" data-ng-hide="!theCleanCruds.$resolved || theCleanCruds.length">-->
    	<!--No The clean cruds yet, why don't you <a href="/#!/the-clean-cruds/create">create one</a>?-->
    <!--</div>-->
</section>
