<section data-ng-controller="EtcProductsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Etc products</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="etcProduct in etcProducts" data-ng-href="#!/etc-products/{{etcProduct._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="etcProduct.created | date:'medium'"></span>
				by
				<span data-ng-bind="etcProduct.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="etcProduct.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!etcProducts.$resolved || etcProducts.length">
    	No Etc products yet, why don't you <a href="/#!/etc-products/create">create one</a>?
    </div>
</section>