<section class="headerEnabled" data-ng-controller="D2lInsController">
    <!--<md-toolbar>-->
        <!--<div class="md-toolbar-tools">-->
            <!--<span><b>Instructor</b></span>-->
            <!--<span flex></span>-->
            <!--<md-button ng-click="toggleRight()" class="md-button md-warn md-raised md-hue-2" style="min-width: 72px; height:60%; font-size: 14px; padding:6px;">-->
                <!--My Page-->
            <!--</md-button>-->
        <!--</div>-->
    <!--</md-toolbar>-->
    <ui-view></ui-view>
</section>
