<section class="headerEnabled" data-ng-controller="LmsStartController">

    <div class="lms-subtitle">
        <h3><strong>LMS-OpenBoard</strong></h3>
    </div>
    <div class="lms-demo-btn-container" layout-sm="column" layout="row" layout-align="center center">
        <md-button class="md-warn">Demo Instructor</md-button>
        <md-button class="md-warn">Demo Student</md-button>
    </div>

    <div class="lms-demo-btn-container2" layout-sm="column" layout="row" layout-align="center center">
        <md-button class="md-warn">Demo Instructor</md-button>
        <md-button class="md-warn">Demo Student</md-button>
    </div>

    <div class="lms-demo-btn-container3" layout-sm="column" layout="row" layout-align="center center">
        <md-button class="md-warn">Demo Instructor</md-button>
        <md-button class="md-warn">Demo Student</md-button>
    </div>
</section>
