<section class="container" data-ng-controller="D2lLessonsController" data-ng-init="findOne(); loadExamples();">
    <pre>
        {{d2lLesson}}
    </pre>
    <div class="page-header">
        <h1>Edit D2l lesson</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" ng-submit="update()" novalidate>
            <fieldset>
                <label class="control-label" for="name">강의이름</label>
                <div class="controls">
                    <input type="text" data-ng-model="d2lLesson.name" id="name" class="form-control" placeholder="Name">
                </div>

                <div layout="column" layout-align="center center" style="height: 100px;">
                    <md-select ng-model="d2lLesson.class" md-on-open="loadClasses()" style="min-width: 200px;">
                        <md-select-label>{{ d2lLesson.class ? d2lLesson.class.name : 'Select Class' }}</md-select-label>
                        <md-option ng-value="class" ng-repeat="class in classes">{{class.prefix}} {{class.name}}</md-option>
                    </md-select>
                    <p class="hws-select-result">You have assigned for: {{ d2lLesson.class ? d2lLesson.class.prefix+" "+d2lLesson.class.name : 'No class yet' }}</p>
                </div>

                <label class="control-label md-body-1" for="contentType">ContentType</label>
                <p class="md-body-1">강의 자료가 프리인지 아닌지</p>
                <div class="controls">
                    <md-radio-group ng-model="d2lLesson.contentType">
                        <md-radio-button value="true" class="md-primary"> Free </md-radio-button>
                        <md-radio-button value="false" class="md-primary"> Not Free </md-radio-button>
                    </md-radio-group>
                </div>

                <label class="control-label md-body-1" >Example List</label>
                <div class="md-body-1" layout="row" layout-padding>
                    <fieldset layout="column">
                        <md-checkbox ng-repeat="item in examples" ng-checked="exists(item, d2lLesson.example)" ng-click="toggle(item, d2lLesson.example)">
                            {{ item.name }}
                            <!--<span ng-if="exists(item, d2lLesson.example)">selected</span>-->
                        </md-checkbox>
                    </fieldset>
                    <fieldset layout="column" class="standard">
                        <div ng-repeat="item in items" class="standard" >
                            <label>
                                <input type="checkbox" ng-checked="exists(item, d2lLesson.example)" ng-click="toggle(item, d2lLesson.example)"/>
                                {{ item }}
                            </label>
                        </div>
                    </fieldset>
                </div>

                <div class="md-body-1" layout="column">
                    <span class="info">Selected: {{ d2lLesson.example }}</span>
                </div>

                <label class="control-label" for="body">설명</label>
                <div class="controls">
                    <input type="text" ng-model="d2lLesson.body" id="body" class="form-control" placeholder="Body">
                </div>

                <md-button type="button" ng-click="showNewAssign()"> New Google Docs</md-button>
                <label class="control-label" for="body">GDoc</label>
                <div class="controls">
                    <input type="text" ng-model="d2lLesson.docs" id="gDoc" class="form-control" placeholder="GDoc">
                </div>

                <div class="form-group">
                    <md-button type="submit">Update</md-button>
                </div>

				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

            </fieldset>
        </form>
    </div>
</section>