
<section data-ng-controller="OpenboardController"
         layout="column"
         class="headerEnabled openboard-background">

    <div ng-controller="SizeUtil.sizeOfWidthController" class="size-util-sizeOfWidth">{{width}}px<br/> {{screen}}</div>
    <!-- Main Content-->

    <!--Introduction-->
    <md-whiteframe id="intro"
                   class="md-whiteframe-z2 openboard-card-color ob-underbar-base"
                   layout="column" layout-align="space-around start">
        <!--Need enable ProgressLinearCtrl from openbardCtrl-->
        <!--<div class="progress-report" ng-controller="progressLinearCtrl" layout="column" layout-margin style="padding:2px;">-->
        <!--<md-progress-linear class="md-accent" md-mode="{{mode}}" value="{{determinateValue}}"></md-progress-linear>-->
        <!--</div>-->

        <div style="max-width:700px; margin-left:auto; margin-right:auto;">
            <iframe src="//fast.wistia.net/embed/iframe/rbz13h2u69"
                    allowtransparency="true" frameborder="0"
                    width="100%"
                    height="100%"
                    scrolling="no"
                    class="wistia_embed" name="wistia_embed"
                    allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen ></iframe>
            <script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
        </div>


        <h3 class="md-display-2 docs-title-card">Introduction</h3>
        <div layout="column" layout-fill>
            <center>
                <h4 class="md-title">Learn AngularJS for Your Next Step</h4>
                <p class="md-body-1"><b>ng-sKorea</b>는 여러분의 Angular의 실력을 향상 시킬수 있도록 돕기 위해서 만들어진 사이트 입니다.</p>
            </center>
            <hr/>
            <div layout="row" layout-margin layout-align="space-around start">
                <div>
                    <h4 class="md-title">Why Angular?</h4>
                    <p class="md-body-1" style="max-width:250px">
                        앵귤러는 매직입니다. 진리 입니다. 현재 존재하는 어떠한 프론트엔드 프레임워크중에서 TOP 입니다.
                        Logical Routing을 적용하여 기존의 웹사이트들은 routing을 서버에서 관리 했던 반면 WebApp의 형태를
                        지는 Angular는 Routing을 클라이언트 사이드에서 관리 할 수 있습니다.
                    </p>
                </div>

                <div>
                    <h4 class="md-title">MVVM 모델</h4>
                    <p class="md-body-1" style="max-width:250px">MVVM V.S. MVV
                        .............................................................
                        ...........................................
                        Continue...</p>


                </div>
            </div>

            <div hide-sm class="iconsList" layout="row" layout-align="center center">

                <md-icon id="mdIcon1" class="icons45" md-svg-src="modules/core/img/svg/document-text.svg"></md-icon>
                <md-icon id="mdIcon2" class="icons45" md-svg-src="modules/core/img/svg/stats-bars.svg"></md-icon>
                <md-icon id="mdIcon3" class="icons45" md-svg-src="modules/core/img/svg/social-google-outline.svg"></md-icon>

                <div layout="column" layout-align="center center">
                    <md-icon class="icons146" md-svg-src="modules/openboard/img/avata1.svg"></md-icon>
                    <div class="md-body-1" layout="row" layout-align="center center">Less Grade & More Teach</div>
                </div>
                <md-icon id="mdIcon4" class="icons45" md-svg-src="modules/core/img/svg/android-mail.svg"></md-icon>
                <md-icon id="mdIcon5" class="icons45" md-svg-src="modules/core/img/svg/cloud.svg"></md-icon>
                <md-icon id="mdIcon6" class="icons45" md-svg-src="modules/core/img/svg/android-calendar.svg"></md-icon>

            </div>

            <div hide-gt-sm class="iconsList" layout="column" layout-align="center center">

                <div layout="row">
                <md-icon id="mdIcon1" class="icons45" md-svg-src="modules/core/img/svg/document-text.svg"></md-icon>
                <md-icon id="mdIcon2" class="icons45" md-svg-src="modules/core/img/svg/stats-bars.svg"></md-icon>
                <md-icon id="mdIcon3" class="icons45" md-svg-src="modules/core/img/svg/social-google-outline.svg"></md-icon>
                </div>
                <div layout="column">
                <md-icon class="icons146" md-svg-src="modules/openboard/img/avata1.svg"></md-icon>
                <div class="md-body-1" layout="row" layout-align="center center">Less Grade & More Teach</div>
                </div>
                <div layout="row">
                <md-icon id="mdIcon4" class="icons45" md-svg-src="modules/core/img/svg/android-mail.svg"></md-icon>
                <md-icon id="mdIcon5" class="icons45" md-svg-src="modules/core/img/svg/cloud.svg"></md-icon>
                <md-icon id="mdIcon6" class="icons45" md-svg-src="modules/core/img/svg/android-calendar.svg"></md-icon>
                </div>
            </div>

            <div layout="row" layout-margin layout-align="space-around start">
                <div>
                    <h4 class="md-title">MEAN 스택</h4>
                    <p class="md-body-1" style="max-width:250px">
                        Angular를 보다 강하게 만들어준 Express 와 NodeJS. 스케일업에서 단연 최강인 No-SQL 데이터베이스의 MongoDB
                        이들 오픈소스의 공통점이 있다면 완벽하게 Free 라는 것입니다.
                    </p>
                </div>

                <div>
                    <h4 class="md-title">Other Web Techs</h4>
                    <p class="md-body-1" style="max-width:250px">
                        NodeJS의 Pacakge Manage, Grunt의 library Manage 한줄의 명령어로 서버와 클라이언트 라이브러리들을 한번에
                        관리 할 수 있습니다.
                    </p>
                </div>
            </div>

        </div>
    </md-whiteframe>

    <md-whiteframe id="intro"
                   class="md-whiteframe-z2 openboard-card-color ob-underbar-red"
                   layout="column" layout-align="space-around start">
        <h4 class="md-title">Front-End 개발자는 돈이 되지 않는다?</h4>
        <p class="md-body-1">
            프론트앤드 개발자들이 대접을 받지 못하는 가장 큰 이유라 생각되는 부분은 제작의뢰가 들어 왔을때 틀에 밖힌
            모듈이나 프레임워크 또는 플러그인을 찾아 직접 개발하지 않고 오픈소스의 코드를 바탕으로 Copy & Paste를 해서
            개발에 적용을 하기 때문이라 생각합니다.
        </p>
        <script src="https://gist.github.com/kruny1001/ea3120153d3205cf9b54.js"></script>

        <p class="md-body-1">
            자신만의 모듈을 만들수 있도록 도와 드리겠습니다. 자신의 코드를 바탕으로 Module을 만들어 간다면 성공적인 프론트엔드 개발자가
            되실수 있습니다.
        </p>
    </md-whiteframe>

    <md-whiteframe id="intro"
                   class="md-whiteframe-z2 openboard-card-color ob-underbar-yellow"
                   layout="column" layout-align="space-around start">
        <h4 class="md-title">NODEJS는 쉽다?</h4>
        <p class="md-body-1">
            NodeJS가 쉽다. 틀린말은 아닙니다. 서버 랭귀지가 어려울 필요가 있을까요? 어떤 언어를 개발자들이 쉽게 받아 들이기 위해
            그 랭귀지를 만들기위해 얼마나 많은 노력과 그간 쌓인 피드백들을 적용 시켰을까요? 쉽다는 성능이 좋지 못하다가 아닌
            개발이 빠르고 관리가 쉽다는 엄청난 장점을 가지고 있습니다.
        </p>

        <p class="md-body-1">
            자신만의 모듈을 만들수 있도록 도와 드리겠습니다. 자신의 코드를 바탕으로 Module을 만들어 간다면 성공적인 프론트엔드 개발자가
            되실수 있습니다.
        </p>
    </md-whiteframe>
    <!--Create a New Account-->
    <!--<md-whiteframe id="step1"-->
                   <!--class="md-whiteframe-z2 openboard-card-color ob-underbar-yellow"-->
                   <!--layout="column" layout-align="space-around start">-->

        <!--<h3 class="md-headline docs-title-card">1. Create a New Account </h3>-->
        <!--&lt;!&ndash;<div class="ob-underbar"></div>&ndash;&gt;-->

        <!--<div class="md-body-1" data-ng-show="authentication.user">-->
            <!--You Signed in-->
        <!--</div>-->
        <!--<div data-ng-show="authentication.user==''">-->
            <!--<p class="md-body-1">For access to Openboard, you need to create new user account.</p>-->

            <!--<div layout="row">-->
                <!--<md-button class="md-primary md-raised" ng-click="showSignInTutorial($event)">-->
                    <!--<md-icon md-svg-src="/modules/mean-tutorials/img/log-in.svg"></md-icon>-->
                    <!--Sign In-->
                <!--</md-button>-->
                <!--<md-button class="md-primary md-raised" ng-click="showSignUpTutorial($event)">-->
                    <!--<md-icon md-svg-src="/modules/mean-tutorials/img/log-out.svg"></md-icon>-->
                    <!--Sign Up-->
                <!--</md-button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</md-whiteframe>-->

    <!--Create a New Class-->
    <!--<md-whiteframe id="step2"-->
                   <!--class="md-whiteframe-z2 openboard-card-color ob-underbar-red"-->
                   <!--layout="column" layout-align="space-around start">-->
        <!--<h3 class="md-headline docs-title-card">2. Create a New Class</h3>-->
        <!--<p class="md-body-1">You can create your own class. Once you have a class you can assign homework</p>-->

        <!--<h4 class="md-title">Step 2.1: Create New Class</h4>-->

        <!--<md-button class="md-primary md-raised" ng-click="showNewClass($event)">-->
            <!--<md-icon md-svg-src="/modules/mean-tutorials/img/log-in.svg"></md-icon>-->
            <!--Create New Class-->
        <!--</md-button>-->
        <!--<br><br><br>-->
        <!--<div class="md-caption" style="border-top: 5px solid #ff60ad; padding: 5px; margin-left:auto; margin-right:auto;">-->
            <!--<div class="md-title">Classes</div>-->
            <!--<p class="md-caption" hide-sm>Check your registered classes</p>-->
            <!--<table st-table="classesCopy" st-safe-src="classes" class="table table-striped">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--&lt;!&ndash;<th></th>&ndash;&gt;-->
                    <!--<th st-sort="title">Prefix</th>-->
                    <!--<th st-sort="class">Class Name</th>-->
                    <!--<th st-sort="dDate">Instructor</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr ng-repeat="CL in classesCopy">-->
                    <!--&lt;!&ndash;<td cs-select="HW"></td>&ndash;&gt;-->
                    <!--<td>{{CL.prefix}}</td>-->
                    <!--<td>{{CL.name}}</td>-->
                    <!--<td>{{CL.user.displayName}}</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->

            <!--<br>-->
            <!--<br>-->
            <!--<br>-->
            <!--<h4 class="md-title">Step 2.2: Create Assignment by using a template (Add-On)</h4>-->
            <!--<p class="md-body-1">-->
                <!--Click below button to download Assignment Template File onto your Google Drive-->
            <!--</p>-->
            <!--<div class="alert alert-danger md-caption" role="alert">-->
                <!--<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>-->
                <!--<span class="sr-only">Error:</span>-->
                <!--This process would be discarded once Open Board-->
                <!--<a href="https://developers.google.com/apps-script/add-ons/" target="_blank">add-on</a>-->
                <!--is approved by Google. I am still working on matching Google's requirements. You can install Open Board add-on to your Google Doc Soon!</p>-->
            <!--</div>-->

            <!--<md-button class="md-warn md-raised" ng-click="copyHWTemplate('1S1cucFhz96cGRHvXzgGqxuptNR-NgWKpIwI55RB67NU')">-->
                <!--<md-icon style="font-size:40px; width:40px; height:40px;" md-svg-src="modules/openboard/img/doc.svg"></md-icon>-->
                <!--Copy Assignment Template-->
            <!--</md-button>-->

            <!--<div style="max-width:700px; margin-left:auto; margin-right:auto;">-->
                <!--<div class="video-container">-->
                    <!--<iframe src="https://www.youtube.com/embed/Gcaw05viyfo" allowfullscreen></iframe>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</md-whiteframe>-->

    <!--&lt;!&ndash;Create an New Assignment&ndash;&gt;-->
    <!--<md-whiteframe id="step3"-->
                   <!--class="md-whiteframe-z2 openboard-card-color ob-underbar-green"-->
                   <!--layout="column" layout-align="space-around start">-->
        <!--<h3 class="md-headline docs-title-card">3. Create a New Assignment</h3>-->
        <!--&lt;!&ndash;<div class="ob-underbar"></div>&ndash;&gt;-->
        <!--<h4 class="md-title">Step 3.1: Check your assignment is uploaded</h4>-->
        <!--<div data-ng-show="authentication.user">-->
            <!--<div layout="row">-->
                <!--<md-button class="md-primary" ng-click="showNewAssign($event)">-->
                    <!--<md-icon md-svg-src="/modules/mean-tutorials/img/log-in.svg"></md-icon>-->
                    <!--Create an Assignment-->
                <!--</md-button>-->
            <!--</div>-->
        <!--</div>-->

    <!--</md-whiteframe>-->

    <!--&lt;!&ndash;Access an Assignment&ndash;&gt;-->
    <!--<md-whiteframe id="step4"-->
                   <!--class="md-whiteframe-z2 openboard-card-color ob-underbar-dark"-->
                   <!--layout="column" layout-align="space-around start">-->
        <!--<h3 class="md-headline docs-title-card">4. Access an Assignment</h3>-->
        <!--&lt;!&ndash;<div class="ob-underbar"></div>&ndash;&gt;-->

        <!--<p class="md-body-1">-->
            <!--You can make a copy of assignment template by clicking open button.-->
            <!--Open Board will upload new file onto your Google Drive</p>-->

        <!--&lt;!&ndash;<md-button class="md-primary" ng-click="showSetRule()">&ndash;&gt;-->
        <!--&lt;!&ndash;<md-icon md-svg-src="/modules/mean-tutorials/img/log-in.svg"></md-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;Set Role&ndash;&gt;-->
        <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
        <!--<br/>-->
        <!--<br/>-->


        <!--<h4 class="md-title">Step 4.1: Click Open Button</h4>-->
        <!--<div class="md-caption" style="border-top: 5px solid #ff60ad; padding: 5px; margin-left:auto; margin-right:auto;">-->
            <!--<div class="md-title">List HW [Student]</div>-->
            <!--<p class="md-caption" hide-sm>-->
                <!--Student can access Assignment. By clicking Open Button, a copy of assignment will be stored onto user's Google Drive.-->
                <!--Once students click open button. Open Board will add Google Calendar its due date event to their account. Check your Google Calendar.-->
            <!--</p>-->
            <!--&lt;!&ndash;<md-button ng-click="ownHwUpdate()">Your Class assignments</md-button>&ndash;&gt;-->
            <!--&lt;!&ndash;<md-button ng-click="allHwUpdate()">All assignments from Open Board</md-button>&ndash;&gt;-->
            <!--<table st-table="hwsCopy" st-safe-src="hws" class="table table-striped">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--&lt;!&ndash;<th></th>&ndash;&gt;-->
                    <!--<th st-sort="title">Title</th>-->
                    <!--<th>Class</th>-->
                    <!--<th st-sort="dDate">Due Date</th>-->
                    <!--<th st-sort="totalGrade" hide-sm>Total</th>-->
                    <!--<th st-sort="percent" hide-sm>Total %</th>-->
                    <!--<th>Doc Link</th>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr ng-repeat="HW in hwsCopy">-->
                    <!--&lt;!&ndash;<td cs-select="HW"></td>&ndash;&gt;-->
                    <!--<td>{{HW.title}}</td>-->
                    <!--<td hide-sm>{{HW.class.name}}</td>-->
                    <!--<td show-sm hide-gt-sm>{{HW.class.prefix}}</td>-->
                    <!--<td>{{HW.dDate |  date : format : timezone}}</td>-->
                    <!--<td hide-sm>{{HW.totalGrade}}</td>-->
                    <!--<td hide-sm>{{HW.percent}}</td>-->
                    <!--<td><md-button class="md-warn md-raised" ng-click="linkHW(HW)">Open</md-button>-->
                        <!--&lt;!&ndash;<md-button class="md-warn md-raised" style="font-size:0.8em" ng-click="linkHW(HW)">Open</md-button>&ndash;&gt;-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
        <!--<h4 class="md-title">Step 4.2: Submit Your HW</h4>-->
        <!--<div style="margin-left:auto; margin-right:auto">-->
            <!--<img title="Submit Google Doc" class="img-responsive" ng-src="modules/openboard/img/submitGdoc.gif">-->
        <!--</div>-->
    <!--</md-whiteframe>-->

    <!--&lt;!&ndash;Grade an Assignment&ndash;&gt;-->
    <!--<md-whiteframe id="step5"-->
                   <!--class="md-whiteframe-z2 openboard-card-color ob-underbar-base"-->
                   <!--layout="column" layout-align="space-around start">-->
        <!--<h3 class="md-headline docs-title-card">5. Grade an Assignment</h3>-->

        <!--<p class="md-body-1"> Once you submitted an assignment, a notification email will be sent to Instructor's email account. For this tutorial, you are the instructor. Check your email Account.</p>-->

        <!--<h4 class="md-title">Step 5.1: Check your E-mail Account</h4>-->
        <!--<br><br>-->
        <!--<h4 class="md-title">Step 5.2: Open Submitted Assignment from Link</h4>-->
        <!--<p class="md-body-1">You also can access student's file without checking your email account. You can just click open button. Open Board will follow you to student file.</p>-->

        <!--<div class="md-caption" style="border-top: 5px solid #ffda74; padding: 5px; margin-left:auto; margin-right:auto;">-->
            <!--<div class="md-title" class="tableTitle">Assignment Submission List [Instructor]</div>-->
            <!--<p class="md-caption" hide-sm>-->
                <!--These submitted assignment is ready to grade. Instructor can access student's assignment. It doesn't need to download or ask to send email from student.-->
                <!--By clicking Grade button, Instructor is ready to grade from Google Doc.-->
            <!--</p>-->
            <!--<table st-table="submittedHWCopy"-->
                   <!--st-safe-src="submittedHW"-->
                   <!--class="table table-striped">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th st-sort="class">Prefix</th>-->
                    <!--<th st-sort="name">Class name</th>-->
                    <!--<th st-sort="user.displayName">Student</th>-->
                    <!--<th>Doc Link</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr ng-repeat="subm in submittedHWCopy">-->
                    <!--<td>{{subm.class.prefix | uppercase}}</td>-->
                    <!--<td>{{subm.class.name}}</td>-->
                    <!--<td>{{subm.user.displayName}}</td>-->
                    <!--<td><md-button class="md-warn md-raised" ng-click="openDoc(subm.docId)">Grade</md-button></td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->

        <!--<h4 class="md-title">Step 5.3: Check Grade</h4>-->
        <!--<div class="md-caption" style="border-top: 5px solid #ee6c0a; padding: 5px; margin-left:auto; margin-right:auto;">-->
            <!--<div class="md-title">Grade Board [Student]</div>-->
            <!--<p class="md-caption" hide-sm>When your instructor grades your assignment, Open Board notify you with email and update score here.-->
                <!--You can check your score immediately after grading an assignment from Google Doc.-->
            <!--</p>-->
            <!--<table st-table="gradeCollectionCopy" st-safe-src="gradeCollection" class="table table-striped">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th st-sort="prefix">Prefix</th>-->
                    <!--<th hide-sm st-sort="name">Class</th>-->
                    <!--<th st-sort="grade">Grade</th>-->
                    <!--<th st-sort="student.displayName">Student</th>-->
                    <!--<th hide-sm st-sort="comment">Document Link</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr ng-repeat="r in gradeCollectionCopy">-->
                    <!--<td>{{r.class.prefix | uppercase}}</td>-->
                    <!--<td hide-sm>{{r.class.name}}</td>-->
                    <!--<td>{{r.grade}}</td>-->
                    <!--<td>{{r.student.displayName}}</td>-->
                    <!--<td hide-sm>{{r.comment}}</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->

    <!--</md-whiteframe>-->

    <!--&lt;!&ndash; List Grade &ndash;&gt;-->
    <!--&lt;!&ndash;Grade Board for Student&ndash;&gt;-->
    <!--<md-whiteframe id="step6" class="md-whiteframe-z2 openboard-card-color ob-underbar-yellow" layout="column">-->
        <!--<h3 class="md-headline docs-title-card">6. Grade Analysis</h3>-->

        <!--<h4>Demo Analysis</h4>-->
        <!--<nvd3 options="options" data="data1"></nvd3>-->
    <!--</md-whiteframe>-->



    <!--<section layout="column">-->
    <!--<md-sidenav id="sideNav" class="openboard-sidenav md-sidenav-left md-whiteframe-z2 ng-isolate-scope md-closed md-locked-open"-->
    <!--style="width:254px; position:fixed"-->
    <!--md-component-id="left" tabindex="-1">-->
    <!--<md-toolbar>-->
    <!--<h1 class="md-toolbar-tools">-->
    <!--<a ng-href="/#!/" layout="row" flex="" class="docs-logo">-->
    <!--<md-icon md-svg-src="modules/openboard/img/pack.svg"-->
    <!--class="svg-logotype ng-isolate-scope md-default-theme"-->
    <!--style="height:40px;-->
    <!--font-size:40px; margin:0px;"-->
    <!--aria-hidden="true">-->

    <!--</md-icon>-->
    <!--<div class="docs-logotype">Openboard</div>-->
    <!--</a>-->
    <!--</h1>-->
    <!--</md-toolbar>-->

    <!--<md-content class="">-->

    <!--<md-button ng-click="scrollTo('step1')" class="md-primary docs-menu" >-->
    <!--1. Create a New Account-->
    <!--</md-button>-->
    <!--<md-button ng-click="scrollTo('step2')" class="md-primary docs-menu" >-->
    <!--2. Create a New Class-->
    <!--</md-button>-->
    <!--<md-button ng-click="scrollTo('step3')" class="md-primary docs-menu" >-->
    <!--3. Create an New Assignment-->
    <!--</md-button>-->
    <!--<md-button ng-click="scrollTo('step4')" class="md-primary docs-menu" >-->
    <!--4. Access an Assignment-->
    <!--</md-button>-->
    <!--<md-button ng-click="scrollTo('step5')" class="md-primary docs-menu" >-->
    <!--5. Grade an Assignment-->
    <!--</md-button>-->
    <!--<md-button ng-click="scrollTo('step6')" class="md-primary docs-menu" >-->
    <!--6. Grade Analysis-->
    <!--</md-button>-->

    <!--</md-content>-->
    <!--</md-sidenav>-->
    <!--</section>-->
</section>
