<div layout="row" layout-sm="column" layout-align="center start" class="">

    <div flex="40" flex-sm="100">
        <md-card>
            <img src="modules/etc/img/1.jpg">
            <md-card-content>
                <div layout="row">
                    <h4>More Pictures</h4>
                    <color-picker style="height:100%; width:100%"></color-picker>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div flex="55" flex-sm="100">
        <div layout="column">
            <md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-yellow"
                           layout="column" layout-align="space-around start">
                <h3 class="md-body-2">SENSATIONNEL SYNTHETIC LACE FRONT WIG EMPRESS EDGE L PART CRYSTAL</h3>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-red"
                           layout="column" layout-align="space-around start">
                <h3 class="md-body-2">Select Color</h3>
                <p>Please select your color</p>
                <color-picker style="height:100%; width:100%"></color-picker>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-z2 meanT-home-card ob-underbar-green"
                           layout="row" layout-align="space-around start">

                <div layout="column">
                    <h3>Price</h3>
                    <div>Regular Price</div>
                    <div>Top's Price</div>
                    <div>Total Price</div>
                    <div>Select Quantity</div>
                    <md-select placeholder="Select #" ng-model="someVal">
                        <md-option value="1">One</md-option>
                        <md-option value="2">Two</md-option>
                    </md-select>
                </div>

                <div layout="column" layout-padding layout-align="end start">

                    <md-button class="md-warn md-raised">Add to Your Card</md-button>
                    <br/>
                    <md-button class="md-primary md-raised">Check Out</md-button>
                </div>

            </md-whiteframe>
        </div>

    </div>
</div>